### Relational operators

__==, !=, <, >, <=, >=__

```r
1 == 1
[1] TRUE

1 != 1
[1] FALSE

2 < 1
[1] FALSE
```

In [1]:
"apples" == "oranges"

[1] FALSE

In [2]:
5 > 3

[1] TRUE

In [4]:
3 * 2 != 6

[1] FALSE

In [6]:
# Alphabetical order when working with strings
"Hi" < "Goodbye"
"Hi" > "Goodbye"

[1] FALSE

[1] TRUE

In [7]:
# TRUE coerces to 1, FALSE coerces to 0
TRUE > FALSE
TRUE < FALSE

[1] TRUE

[1] FALSE

__Working operators with data types__

In [10]:
# Vector
grades <- c(9, 8, 9, 6, 5, 7, 10, 6)
grades >= 7

[1]  TRUE  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE

In [11]:
# Vector versus vector
men <- c(37, 45, 16, 51)
women <- c(41, 23, 18, 39)
men > women

[1] FALSE  TRUE FALSE  TRUE

In [17]:
# Matrix
income <- c(12, 16, 20, 14, 21)
outcome <- c(11, 10, 26, 14, 18)
cashflow <- matrix(c(income, outcome), nrow=2, byrow=TRUE)

cashflow >= 20

     [,1]  [,2]  [,3] [,4]  [,5]
[1,] FALSE FALSE TRUE FALSE  TRUE
[2,] FALSE FALSE TRUE FALSE FALSE

### Logical operators